* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 100px auto;
}

canvas {
  margin-bottom: 50px;
}

#level-access {
  position: fixed;
  top: 10px;
  left: 10px;
}